{
	"extends": "airbnb/hooks",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"es6": true
	},
	"rules": {
		"no-unused-vars": [
			"error",
			{ "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
		],
		"no-undef": ["error"]
	},
	"globals": {
		"document": "readonly",
		"ResizeObserver": "readonly",
		"MutationObserver": "readonly",
		"clearInterval": "readonly",
		"setInterval": "readonly",
		"setTimeout": "readonly",
		"clearTimeout": "readonly",
		"localStorage": "readonly",
		"KeyboardEvent": "readonly",
		"Event": "readonly",
		"PointerEvent": "readonly",
		"window": "readonly",
		"console": "readonly",
		"process": "readonly",
		"navigator": "readonly"
	}
}
