/* Custom chat context menu, invisible by default */
.js-chat-context-menu {
	display: none;
}

.js-chat-context-menu .name {
	color: white;
	padding: 2px 4px;
}

/* Allow names in chat to be clicked (textf1 = BL, textf0 = VG) */
#chat .name,
.textwhisper .textf1,
.textwhisper .textf0 {
	pointer-events: all !important;
}
