/* Custom css for settings page, duplicates preexisting settings pane grid */
.uimod-settings,
.uimod-mod-toggler {
	user-select: none;
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 8px;
	align-items: center;
	max-height: 390px;
	margin: 0 20px;
	overflow-y: auto;
}

.uimod-mod-toggler-window {
	max-height: 525px !important;
}

.uimod-mod-toggler {
	grid-template-columns: 1fr 3fr 1fr 1.5fr;
	grid-gap: 12px 6px;

	.uimod-mod-name {
		font-weight: bold;
		font-size: 16px;
	}

	.uimod-mod-desc {
		font-style: italic;
	}

	.uimod-mod-state {
		color: #ffffff;
		font-weight: bold;
	}
}

.uimod-disclaimer {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}
