.js-map-btns {
    position: absolute;
    top: 46px;
    right: 12px;
    z-index: 999;
    width: 100px;
    height: 100px;
    text-align: right;
    display: none;
    pointer-events: all;
}

.js-map-btns:hover {
    display: block;
}

.js-map-btns button {
    border-radius: 10px;
    font-size: 18px;
    padding: 0 5px;
    background: rgba(0,0,0,0.4);
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* On hover of map, show opacity controls */
.js-map:hover .js-map-btns {
    display: block;
}