.container.uimod-xpmeter-1 {
    z-index: 6;
}

.window.uimod-xpmeter-2 {
    padding: 5px;
    height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-gap: 4px;
    transform-origin: inherit;
    min-width: fit-content;
}

.titleframe.uimod-xpmeter-2 {
    line-height: 1em;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: 0.5px;
}

.titleicon.uimod-xpmeter-2 {
    margin: 3px;
}

.title.uimod-xpmeter-2 {
    width: 100%;
    padding-left: 4px;
    font-weight: bold;
}

.slot.uimod-xpmeter-2 {
    min-height: 0;
}

.wrapper.uimod-xpmeter-1 {
    width: 200px;
}

.bar.uimod-xpmeter-3 {
    background-color: rgba(45, 66, 71, 0.7);
    border-radius: 1.5px;
    position: relative;
    color: #DAE8EA;
    overflow: hidden;
    text-shadow: 1px 1px 2px #10131d;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: bold;
}

.buttons.uimod-xpmeter-1 {
    line-height: 1;
    font-size: 13px;
}

.left.uimod-xpmeter-3 {
    padding-left: 4px;
    position: relative;
    z-index: 1;
}

.right.uimod-xpmeter-3 {
    position: absolute;
    right: 7px;
    z-index: 1;
}